.section_title {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: -2px;
}

@media screen and (max-width: 1440px) {
  .section_title {
    font-size: 60px;
  }
}
@media screen and (max-width: 1024px) {
  .section_title {
    font-size: 32px;
  }
}
@media screen and (max-width: 767px) {
  .section_title {
    font-size: 24px;
    letter-spacing: -1px;
  }
}
