@import url(../../../css/reset.css);
@import url(common.css);

header {
  width: 100%;
  /* height: 120px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px 0;
  backdrop-filter: blur(12px);
  background-color: rgba(20, 20, 20, 0.2);
}

.logo {
  width: 180px;
}

.ham_icon {
  display: none;
  color: white;
}

.menu_wrap {
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  font-size: 20px;
  /* background-color: aqua; */
}

.menu_wrap a {
  color: #fff;
}

.menu_nav {
  position: relative;
}

.menu_nav:first-child a {
  width: 105px;
}
.menu_nav:nth-child(3) a {
  width: 154px;
}

.menu_nav:last-child a {
  width: 68px;
}

.menu_nav > a {
  display: block;
  text-align: left;
}

.hide_menu {
  display: none;
  /* text-align: left; */
  /* transform: translateY(-10px); */
  pointer-events: none;
  transition: 0.3s ease;
  margin-top: 20px;
}

.hide_menu li {
  display: block;
  padding-bottom: 20px;
}

.hide_menu li a {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
}

.hide_menu li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1.2px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.menu_nav a:hover {
  font-weight: 600;
}

.hide_menu li a:hover::after {
  width: 100%;
}

.menu_nav:hover .hide_menu {
  display: block;
  pointer-events: auto;
  transform: translateY(0);
}

.mobile_menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: #9a9a9a;
  padding: 80px 20px 20px;
  transition: 0.5s ease;
}
.mobile_menu.active {
  right: 0;
}
.mobile_menu i {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}
.mobile_sub {
  display: none;
  /* padding-left: 15px; */
  margin-top: 20px;
  transition: 0.4s ease;
}

.mobile_nav {
  margin-top: 20px;
}
.mobile_nav a {
  color: #fff;
}

.mobile_sub li {
  margin-bottom: 10px;
}

.mobile_main {
  all: unset;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  header {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    flex-direction: initial;
    padding: 0px 12px;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu_wrap {
    display: none;
  }

  .ham_icon {
    display: block;
  }

  .mobile_sub {
    display: none;
  }
  .mobile_sub.active {
    display: block;
  }
}

/* header end */

.section_1 {
  height: 100vh;
  position: relative;
  /* overflow: hidden; */
}

.img_wrapper {
  height: 100%;
  position: relative;
}

.section_1 img {
  width: 100%;
  height: 100%;
  /* display: block; */
  object-fit: cover;
  /* overflow: hidden; */
  position: absolute;
  top: 0;
  left: 0;
}

.text_wrap_1 {
  position: absolute;
  bottom: 7.4%;
  left: 9.43%;
  text-align: left;
  font-size: 40px;
  color: #fff;
}

@media screen and (max-width: 1440px) {
  .text_wrap_1 {
    font-size: 22px;
    bottom: 7.4%;
    left: 9.43%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section_1 {
    position: relative;
    height: 850px;
    overflow: hidden;
    margin-bottom: 120px;
  }

  .text_wrap_1 {
    position: absolute;
    bottom: 5.88%;
    left: 9.43%;
    font-size: 20px;
    text-align: left;
    color: #fff;
  }
}

@media screen and (max-width: 767px) and (min-width: 350px) {
  .section_1 {
    position: relative;
    height: 800px;
    overflow: hidden;
    margin-bottom: 80px;
  }

  .text_wrap_1 {
    position: absolute;
    bottom: 5.88%;
    left: 9.43%;
    font-size: 12px;
    text-align: left;
    color: #fff;
  }
}
/* section_1 end */

.tab_menu {
  flex: 0 0 100%;
  margin-bottom: 24px;
}

.tab_menu ul {
  display: flex;
  justify-content: flex-start;
  /* gap: 60px; */
  padding: 24px 0 140px 0;
}

.tab_menu li {
  position: relative;
  font-size: 20px;
  cursor: pointer;
  color: #a9a9a9;
}

.tab_menu li.active {
  color: #000;
  font-weight: 700;
}

.tab_menu li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  background: #a9a9a9;
  opacity: 0.5;
  margin: 0 30px 0 30px;
}
/* tab_menu end */

.section_2 {
  padding: 0 0 0 24px;
  display: flex;
  gap: 77px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.con_wrap_2 {
  display: flex;
  flex-direction: column;
}

.section_title_2 {
  font-size: 72px;
  font-weight: 700;
}

.con_left img {
  width: 800px;
  height: 800px;
  object-fit: cover;
  margin-top: 127px;
}

.con_right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 126px;
}

.con_title_2 h3 {
  font-size: 24px;
  font-weight: 600;
}

.con_title_2 p {
  font-size: 16px;
  color: #a9a9a9;
}

.con_2 a {
  width: 100%;
  height: 600px;
  display: block;
  background-color: #f7f7f7;
}

.con_2 img {
  width: 100%;
  height: 535px;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.text_wrap_2 {
  margin-top: 15px;
}

.con_title_2 p {
  margin-top: 5px;
}

@media screen and (max-width: 1400px) {
  .tab_menu li {
    font-size: 18px;
  }

  .tab_menu li:not(:last-child)::after {
    margin: 0 24px;
  }

  .tab_menu ul {
    padding: 24px 0 120px 0;
  }

  .section_title_2 {
    font-size: 57px;
    margin-bottom: 30px;
  }

  .section_2 .con_wrap_2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
  }

  .con_left img {
    width: 500px;
    height: 500px;
  }

  .con_right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    width: 800px;
  }

  .con_title_2 h3 {
    font-size: 24px;
    font-weight: 600;
  }

  .con_title_2 p {
    font-size: 16px;
    color: #a9a9a9;
  }

  .con_2 {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .con_2 a {
    width: 100%;
    height: auto;
    display: block;
    background-color: #f7f7f7;
  }

  .con_2 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    mix-blend-mode: multiply;
  }

  .text_wrap_2 {
    margin-top: 15px;
  }

  .con_title_2 p {
    margin-top: 5px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section_2 {
    margin-bottom: 120px;
    padding: 0;
  }

  .tab_menu {
    border-bottom: 1px solid rgba(169, 169, 169, 0.5);
    position: absolute;
    top: 147%;
    left: 0;
    width: 100%;
  }

  .tab_menu ul {
    display: flex;
    justify-content: center;
    gap: 300px;
    padding: 30px 0 30px 0;
    width: 100%;
  }

  .tab_menu li {
    display: none;
  }

  .tab_menu li:nth-child(1),
  .tab_menu li:nth-child(2) {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 80px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
  }

  .tab_menu li:nth-child(1)::after,
  .tab_menu li:nth-child(2)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: url("../img/arrow.svg") no-repeat center / contain;
  }

  .tab_menu::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translateY(-50%);
    width: 1px;
    height: 82px;
    background: rgba(169, 169, 169, 0.5);
  }

  .con_wrap_2 {
    display: flex;
    flex-direction: column;
  }

  .section_title_2 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 120px;
  }

  .con_left img {
    width: 810px;
    height: 500px;
    object-fit: cover;
    margin-top: 30px;
  }

  .con_right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-bottom: 0;
  }

  .con_title_2 h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .con_title_2 p {
    font-size: 16px;
    color: #a9a9a9;
    margin-bottom: 20px;
  }

  .con_2 a {
    width: 100%;
    height: 520px;
    display: block;
    background-color: #f7f7f7;
  }

  .con_2 img {
    width: 100%;
    height: 520px;
    object-fit: cover;
    mix-blend-mode: multiply;
  }

  .text_wrap_2 {
    margin-top: 7px;
  }

  .con_title_2 p {
    margin-top: 3px;
  }
}

@media screen and (max-width: 767px) and (min-width: 350px) {
  .section_2 {
    margin-bottom: 80px;
    padding: 0;
  }

  .tab_menu {
    border-bottom: 1px solid rgba(169, 169, 169, 0.5);
    position: absolute;
    top: 94.5%;
    left: 0;
    width: 100%;
  }

  .tab_menu ul {
    display: flex;
    justify-content: center;
    gap: 160px;
    padding: 30px 0 30px 0;
    width: 100%;
  }

  .tab_menu li {
    display: none;
  }

  .tab_menu li:nth-child(1),
  .tab_menu li:nth-child(2) {
    display: flex;
    align-items: center;
    position: relative;
    /* padding-right: 80px; */
    font-size: 16px;
    color: #000;
    font-weight: 400;
  }

  .tab_menu li:nth-child(2) {
    margin-right: 20px;
  }

  .tab_menu li:nth-child(1)::after,
  .tab_menu li:nth-child(2)::after {
    content: "";
    position: absolute;
    right: -80px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: url("../img/arrow.svg") no-repeat center / contain;
  }

  .tab_menu::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translateY(-50%);
    width: 1px;
    height: 80px;
    background: rgba(169, 169, 169, 0.5);
  }

  .con_wrap_2 {
    display: flex;
    flex-direction: column;
  }

  .section_title_2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 80px;
  }

  .con_left img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 30px;
  }

  .con_right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-bottom: 0;
  }

  .con_title_2 h3 {
    font-size: 16px;
    font-weight: 600;
  }

  .con_title_2 p {
    font-size: 12px;
    color: #a9a9a9;
    margin-bottom: 18px;
  }

  .con_2 a {
    width: 100%;
    height: 210px;
    display: block;
    background-color: #f7f7f7;
  }

  .con_2 img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    mix-blend-mode: multiply;
  }

  .text_wrap_2 {
    margin-top: 7px;
  }

  .con_title_2 p {
    margin-top: 3px;
  }
}
/* section_2 end */

.section_3 {
  padding: 0 169px 0 181px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 180px;
}

.con_wrap_3_1,
.con_wrap_3_2 {
  display: flex;
  justify-content: space-between;
  gap: 29px;
  align-items: center;
}

.typo {
  text-align: left;
}

.typo h2 {
  font-size: 35px;
  font-weight: 700;
  /* white-space: pre-line; 
    word-break: keep-all; */
}

.text_wrap h3 {
  font-size: 24px;
  font-weight: 600;
}

.text_wrap p {
  font-size: 16px;
  margin: 10px 0 15px 0;
  color: #a9a9a9;
}

.con_3_1 img {
  width: 850px;
  height: 550px;
  object-fit: cover;
}

.con_3_2 img {
  width: 850px;
  height: 600px;
  object-fit: cover;
}

.con_3_3 img {
  width: 1400px;
  height: 900px;
  object-fit: cover;
}

@media screen and (max-width: 1440px) {
  .section_3 {
    padding: 0 120px 0 120px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 150px;
  }

  .con_wrap_3_1,
  .con_wrap_3_2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }

  .typo h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
  }

  .text_wrap h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .text_wrap p {
    font-size: 16px;
    margin: 8px 0 12px 0;
  }

  .con_3_1 img {
    width: 700px;
    height: 450px;
    object-fit: cover;
  }

  .con_3_2 img {
    width: 700px;
    height: 500px;
    object-fit: cover;
  }

  .con_3_3 img {
    width: 1200px;
    height: 770px;
    object-fit: cover;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section_3 {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 120px;
    padding: 0;
  }

  .con_wrap_3_1,
  .con_wrap_3_3 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  .con_wrap_3_2 {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
    align-items: center;
  }

  .typo h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
  }

  .text_wrap h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .text_wrap p {
    font-size: 16px;
    margin: 3px 0 15px 0;
  }

  .con_3_1 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .con_3_2 img {
    width: 100%;
    height: 550px;
    object-fit: cover;
  }

  .con_3_3 img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) and (min-width: 350px) {
  .section_3 {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 80px;
    padding: 0;
  }

  .con_wrap_3_1,
  .con_wrap_3_3 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .con_wrap_3_2 {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    align-items: center;
  }

  .typo h2 {
    display: none;
  }

  .text_wrap h3 {
    font-size: 16px;
    font-weight: 600;
  }

  .text_wrap p {
    font-size: 12px;
    margin: 3px 0 15px 0;
  }

  .con_3_1 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .con_3_2 img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  .con_3_3 img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}
/* section_3 end */

footer {
  width: 100%;
  height: 500px;
  border-top: 1px solid rgba(169, 169, 169, 0.5);
  margin-top: 180px;
}

.footer_section {
  margin-left: 173px;
  padding-top: 118px;
}

.footer_logo {
  width: 180px;
  height: 36px;
}

.footer_logo img {
  display: block;
}

.footer_text,
.footer_icons {
  display: inline-flex;
}

.footer_text {
  font-size: 18px;
  margin-top: 64px;
  gap: 86px;
  color: #a9a9a9;
}

.footer_icons {
  margin-top: 5px;
  margin-left: 389px;
  gap: 35px;
}

.footer_icons i {
  color: #a9a9a9;
  font-size: 32px;
}

.footer_copyright {
  font-size: 18px;
  margin-top: 120px;
  color: #a9a9a9;
}

@media screen and (max-width: 1440px) {
  .footer_section {
    margin-left: 120px;
    padding-top: 90px;
  }

  .footer_text {
    gap: 60px;
    margin-top: 50px;
    font-size: 18px;
  }

  .footer_icons {
    margin-left: 140px;
    gap: 28px;
  }

  .footer_icons i {
    font-size: 32px;
  }

  .footer_copyright {
    margin-top: 90px;
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .footer_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
  }

  .footer_logo {
    width: 125px;
    height: 25px;
    margin: 0 auto;
  }

  .footer_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin-top: 60px;
    font-size: 16px;
  }

  .footer_icons {
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
    gap: 30px;
  }

  .footer_icons i {
    font-size: 32px;
  }

  .footer_copyright {
    margin-top: 40px;
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) and (min-width: 350px) {
  footer {
    height: 300px;
  }

  .footer_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    margin: 0 auto;
  }

  .footer_logo {
    width: 82px;
    height: 16px;
    margin: 0 auto;
  }

  .footer_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 30px auto 0 auto;
    font-size: 12px;
    max-width: 300px;
  }

  .footer_icons {
    display: flex;
    justify-content: center;
    margin: 40px auto 0 auto;
    gap: 50px;
  }

  .footer_icons i {
    font-size: 24px;
  }

  .footer_copyright {
    margin: 40px auto 0 auto;
    font-size: 12px;
  }
}
/* footer end */
