@import url(../../../css/reset.css);
@import url(common.css);

header {
  width: 100%;
  /* height: 120px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px 0;
  backdrop-filter: blur(12px);
  background-color: rgba(20, 20, 20, 0.2);
}

.logo {
  width: 180px;
}

.ham_icon {
  display: none;
  color: white;
}

.menu_wrap {
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  font-size: 20px;
  /* background-color: aqua; */
}

.menu_wrap a {
  color: #fff;
}

.menu_nav {
  position: relative;
}

.menu_nav:first-child a {
  width: 105px;
}
.menu_nav:nth-child(3) a {
  width: 154px;
}

.menu_nav:last-child a {
  width: 68px;
}

.menu_nav > a {
  display: block;
  text-align: left;
}

.hide_menu {
  display: none;
  /* text-align: left; */
  /* transform: translateY(-10px); */
  pointer-events: none;
  transition: 0.3s ease;
  margin-top: 20px;
}

.hide_menu li {
  display: block;
  padding-bottom: 20px;
}

.hide_menu li a {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
}

.hide_menu li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1.2px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.menu_nav a:hover {
  font-weight: 600;
}

.hide_menu li a:hover::after {
  width: 100%;
}

.menu_nav:hover .hide_menu {
  display: block;
  pointer-events: auto;
  transform: translateY(0);
}

.mobile_menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: #9a9a9a;
  padding: 80px 20px 20px;
  transition: 0.5s ease;
}
.mobile_menu.active {
  right: 0;
}
.mobile_menu i {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}
.mobile_sub {
  display: none;
  /* padding-left: 15px; */
  margin-top: 20px;
  transition: 0.4s ease;
}

.mobile_nav {
  margin-top: 20px;
}
.mobile_nav a {
  color: #fff;
}

.mobile_sub li {
  margin-bottom: 10px;
}

.mobile_main {
  all: unset;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  header {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    flex-direction: initial;
    padding: 0px 12px;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu_wrap {
    display: none;
  }

  .ham_icon {
    display: block;
  }

  .mobile_sub {
    display: none;
  }
  .mobile_sub.active {
    display: block;
  }
}

/* header end */

.section_1 {
  width: 100%;
  height: 900px;
}

.section_1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .section_1 {
    height: 834px;
  }
}

@media screen and (max-width: 767px) {
  .section_1 {
    height: 50vh;
  }
}
/* section_1 end */

.section_2 {
  width: 100%;
  padding: 0 181px;
}

.section_title_2 {
  text-align: center;
  font-size: 72px;
  font-weight: 600;
  margin-bottom: 60px;
}

.main_con_wrap_2 {
  display: flex;
  justify-content: space-between;
}

.con_wrap_2:first-child {
  width: 59.69191%;
}

.con_wrap_2:first-child .con_2 {
  margin-bottom: 65px;
}

.con_wrap_2:last-child {
  width: 38.09884%;
}

.big img {
  width: 100%;
  height: 1270px;
  object-fit: cover;
}

.img_wrap {
  display: flex;
  justify-content: space-between;
}

.img_wrap img {
  width: 49.35%;
  height: 650px;
  object-fit: cover;
}

.con_title_2 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 20px;
}

.con_wrap_2:last-child img {
  height: 400px;
  object-fit: cover;
}

.con_wrap_2:last-child .con_2 {
  margin-bottom: 145px;
}

.con_wrap_2:last-child {
  margin-bottom: 0;
}

.txt_2 {
  font-size: 20px;
  color: #a9a9a9;
  margin-top: 30px;
  line-height: 26px;
  letter-spacing: -1px;
}

.txt_2 p:nth-child(2),
.txt_2 p:last-child {
  display: none;
}

@media screen and (max-width: 1619px) {
  .txt_2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 1440px) {
  .section_2 {
    padding: 0 150px;
  }
  .section_title_2 {
    font-size: 57px;
  }

  .con_wrap_2:last-child .con_2 {
    margin-bottom: 100px;
  }

  .txt_2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 1310px) {
  .section_2 {
    padding: 0 135px;
  }
}

@media screen and (max-width: 1165px) {
  .section_2 {
    padding: 0 80px;
  }
  .con_wrap_2:last-child .con_2 {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .section_2 {
    margin-bottom: 65px;
  }
  .section_title_2 {
    font-size: 32px;
    margin-bottom: 50px;
  }
  .con_title_2 {
    font-size: 20px;
    margin-top: 15px;
  }
  .con_wrap_2:last-child .con_2 {
    margin-bottom: 40px;
  }
  .txt_2 {
    margin-top: 10px;
    line-height: 19px;
  }
  .txt_2 p:nth-child(1),
  .txt_2 p:last-child {
    display: none;
  }
  .txt_2 p:nth-child(2) {
    display: block;
  }
  .img_wrap img {
    height: 273px;
  }

  .big img {
    height: 543px;
  }
  .con_wrap_2:first-child {
    width: 57.43405%;
  }
  .con_wrap_2:last-child {
    width: 39.56834%;
  }
  .con_wrap_2:last-child img {
    width: 100%;
    height: 173px;
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) {
  .section_2 {
    padding: 0 12px;
  }
  .section_title_2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .main_con_wrap_2 {
    display: unset;
  }
  .big img {
    display: none;
  }
  .con_wrap_2:first-child {
    width: 100%;
  }
  .con_wrap_2:last-child {
    width: 100%;
  }
  .img_wrap img {
    height: 252px;
  }
  .con_title_2 {
    font-size: 16px;
    margin-top: 10px;
  }
  .txt_2 {
    font-size: 12px;
    margin-top: 5px;
    line-height: 14px;
  }
  .con_wrap_2:first-child .con_2 {
    margin-bottom: 40px;
  }
  .con_wrap_2:last-child img {
    height: 252px;
    object-fit: cover;
  }
  .txt_2 p:nth-child(1),
  .txt_2 p:nth-child(2) {
    display: none;
  }
  .txt_2 p:nth-child(3) {
    display: block;
  }
}

/* section_2 end */

.section_3 {
  text-align: center;
}

.typo_3 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: -2px;
}

.typo_3:nth-child(2),
.typo_3:nth-child(3) {
  display: none;
}
@media screen and (max-width: 1440px) {
  .typo_3 {
    font-size: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .typo_3 {
    font-size: 24px;
    line-height: 40px;
  }
  .typo_3:nth-child(1),
  .typo_3:nth-child(3) {
    display: none;
  }
  .typo_3:nth-child(2) {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .typo_3 {
    font-size: 18px;
    line-height: 27px;
  }
  .typo_3:nth-child(2),
  .typo_3:nth-child(3) {
    display: none;
  }
  .typo_3:nth-child(3) {
    display: block;
  }
}
/* section_3 end */

footer {
  width: 100%;
  height: 500px;
  border-top: 1px solid rgba(169, 169, 169, 0.5);
}

.footer_section {
  margin-left: 173px;
  padding-top: 118px;
}

.footer_logo {
  width: 180px;
  height: 36px;
}

.footer_logo img {
  display: block;
}

.footer_text,
.footer_icons {
  display: inline-flex;
}

.footer_text {
  font-size: 18px;
  margin-top: 64px;
  gap: 86px;
  color: #a9a9a9;
}

.footer_icons {
  margin-top: 5px;
  margin-left: 389px;
  gap: 35px;
}

.footer_icons i {
  color: #a9a9a9;
  font-size: 32px;
}

.footer_copyright {
  font-size: 18px;
  margin-top: 120px;
  color: #a9a9a9;
}

@media screen and (max-width: 1440px) {
  .footer_section {
    margin-left: 120px;
    padding-top: 90px;
  }

  .footer_text {
    gap: 60px;
    margin-top: 50px;
    font-size: 18px;
  }

  .footer_icons {
    margin-left: 140px;
    gap: 28px;
  }

  .footer_icons i {
    font-size: 32px;
  }

  .footer_copyright {
    margin-top: 90px;
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .footer_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
  }

  .footer_logo {
    width: 125px;
    height: 25px;
    margin: 0 auto;
  }

  .footer_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin-top: 60px;
    font-size: 16px;
  }

  .footer_icons {
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
    gap: 30px;
  }

  .footer_icons i {
    font-size: 32px;
  }

  .footer_copyright {
    margin-top: 40px;
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) and (min-width: 350px) {
  footer {
    height: 300px;
  }

  .footer_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    margin: 0 auto;
  }

  .footer_logo {
    width: 82px;
    height: 16px;
    margin: 0 auto;
  }

  .footer_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 30px auto 0 auto;
    font-size: 12px;
    max-width: 300px;
  }

  .footer_icons {
    display: flex;
    justify-content: center;
    margin: 40px auto 0 auto;
    gap: 50px;
  }

  .footer_icons i {
    font-size: 24px;
  }

  .footer_copyright {
    margin: 40px auto 0 auto;
    font-size: 12px;
  }
}
/* footer end */
